.top-nav-collapse {
    background-color: rgba(0,151,167,0.774) !important  ;
    
  }

#navbar-iuly{
  background: #0097a7 ;
}




#boton-iniciar-sesion{
  border-radius:30px;
  text-transform: capitalize;
}


